<aside class="task-details">
    <div class="tag-progress">
      <h2>Task Progress</h2>
      <div class="tag-progress">
        <p>To Do <span>{{ getTasks(1).length }}</span></p>
        <progress class="progress progress__todo" [max]="tasks.length" [value]="getTasks(1).length"> {{ getTasks(1).length }} </progress>
      </div>
      <div class="tag-progress">
        <p>In Progress <span>{{ getTasks(2).length }}</span></p>
        <progress class="progress progress__inprogress" [max]="tasks.length" [value]="getTasks(2).length"> {{ getTasks(2).length }} </progress>
      </div>
      <div class="tag-progress">
        <p>Testing <span>{{ getTasks(3).length }}</span></p>
        <progress class="progress progress__testing" [max]="tasks.length" [value]="getTasks(3).length"> {{ getTasks(3).length }} </progress>
      </div>
      <div class="tag-progress">
        <p>Done <span>{{ getTasks(4).length }}</span></p>
        <progress class="progress progress__done" [max]="tasks.length" [value]="getTasks(4).length"> {{ getTasks(4).length }} </progress>
      </div>
      <div class="tag-progress">
        <p>All <span>{{ tasks.length }}</span></p>
      </div>

    </div>
    
  </aside>